html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.half_page_ish {
  width: 35%;
  height: 100%
}

.center_title {
  text-align: center;
  margin-bottom: 30px;
}

.schedule-leader {
  margin-top: 50px;
  max-height: 300px;
  display: flex;
  margin-bottom: 200px;
  justify-content: center;
}

.leaderboard {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

#logo {
  float: left;
  height: 64px;
  padding-left: 40px;
  overflow: hidden;
  line-height: 64px;
  white-space: nowrap;
  text-decoration: none;
img {
  vertical-align: middle;
  border-style: none;
}
}


.leader-board-wrapper {
  width: 90%;
}
.brandLogo {
  height: 32px;
  margin-right: 16px;
}
.brandName {
  position: relative;
  top: 1px;
  height: 16px;
  padding-right: 40px;
}

.homebody {
  margin-left: 10%;
  margin-right: 10%;
}

.ant-table-thead {
  background-color: #1890ff;
}

.page_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hundred_x_hundred {
  float: left;
  width: 200px;
  height: 100px;
    }

.hundred_x_hundred:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}
